.sidebarItem{
  cursor: pointer;
  margin-bottom: 1.5rem;
  min-height: 2.5rem;
  width: 100.3%;
  border-style: none;
  background-color: transparent;
  font-weight: 600;
  border-radius: 10px;
  color: #ffffff;
}
.list-group-item.active {
  color: #5299e9;
  background-color: #e7e7e7;
  border-color: #e7e7e7;
}
.sidebarItem:first-child{
  margin-top: 1rem;
}
