.sidebarItem{
    cursor: pointer;
    margin-bottom: 1.5rem;
    min-height: 2.5rem;
    width: 100%;
    border-style: none;
    background-color: #21295C;
    font-weight: 600;
    border-radius: 10px;
    color: white;
  }
  .list-group-item.active {
    color: #21295C;
    background-color: #e7e7e7;
    border-color: #e7e7e7;
  }
  .sidebarItem:first-child{
    margin-top: 1rem;
  }
  .Side_Bar_AC{
    background-color: #065A82;
    width: 25%;
    float: left;
    height: 100vh;
    position: fixed;
    top: 10;
    left: 0;
  }